body{
    background-color: #9400D3;
}
.card{
    background-color: black;
    color: #9400D3;
    font-weight: bolder;
}
.card-header{
    text-align: center;
    border-bottom: 2px solid #9400D3;
}
.btn2{
    font-size:15px;
    font-weight: bold;
    color: black;
    background-color: #9400D3;
}
.card-modify{
    margin-top:10px;
}

.inline-btn{
    padding:3px;
}