html,body {
    height:100%;
}
body{
    background-color:#9400D3;
}
#login-container{
    background-color:black;
    height:450px;
    width:300px;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    font-weight:bolder;
    box-shadow:0px 0px 40px black;
}
#login-head{
    font-size:40px;
    font-family:Helvetica;
    font-weight:normal;
    color:#9400D3;
}

i {
    color: #9400D3;
    background-color:black;
    font-size:30px;
    padding:4px 7px 4px 7px;
    border:none;
    border-radius:0px;

 }
 span.input-group-text{
    padding:0px;
    border:none;

 }

.input-group{
    width:250px;
    margin-left:auto;
    margin-right:auto;
}
input.form-control {
    border-radius:0px;
    background-color:black;
    border:none;
    border-bottom:2px solid #9400D3;
}
input.form-control:focus{
    background-color:black;
    border:none;
    border-bottom:2px solid #9400D3;
    box-shadow:0px 0px 3px black;
}

a.link{
    color:#9400D3;
    text-decoration:none;
}
div.other{
    line-height:55px;
    position:absolute;
    right:-25px;
    top:-25px;
    border:none;
    width: 60px;
    font-weight:bolder;
    height: 60px;
    border-radius:30px;
    background-color:#9400D3;
    color:black;
    box-shadow:0px 0px 40px black;
}
div.other1{
    transition: 0.5s;
    line-height:55px;
    position:absolute;
    right:-20px;
    top:-20px;
    border:none;
    width: 50px;
    height: 50px;
    border-radius:25px;
    background-color:#9400D3;
    color:#9400D3;
    box-shadow:0px 0px 40px black;
}
#google{
    color:black;
    line-height:48px;
    border-radius:25px;
    background-color:#9400D3;
    padding:0px;
}
#facebook{
    color:black;
    line-height:48px;
    border-radius:25px;
    background-color:#9400D3;
    padding:0px;
}
#Submit_button{
    margin:10px;
    font-weight: bold;
    background: none;
    width: 100px;
    border-radius:3px;
    border: 1px solid #9400D3;
    color: #9400D3;
}
#Submit_button:hover{
    background-color: #9400D3;
    color:black;
    border:1px solid black;
}

#choice-field:focus{
    border:none;
    box-shadow:0px 0px 0px black;
    background-color: blue;
}

#message{
    padding: 4px;
    margin-left:50px;
    width: 200px;
    color:black;
    background-color:#9400D3;
    box-shadow:0px 0px 5px #9400D3;

}